%html
  %head
    %title Attachments Dashboard

    %link{:rel => "stylesheet", :type => "text/css", :href => "/assets/styles.css"}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}

  %body
    %p Hello
